<%- include('../partials/header') %>

    <main id="admin-login">
        <form action="/admin/login" method="post">
            <img src="/images/logo.png" alt="">
            <h1>Log In</h1>

            <% if(error) { %>
                <p class="error"><%= message %></p>
            <% } %>

            <input type="email" name="email" id="" placeholder="Email Address" value="<%= admin.email %>">
            <input type="password" name="password" id="" placeholder="Password" value="<%= admin.password %>">
            <input type="submit" value="Log In">
        </form>
    </main>

<%- include('../partials/footer') %>