<%- include('partials/header') %>

    <main id="home-page">
        <div id="sidebar">
            <div id="logo">
                <img src="/images/logo.png" alt="">
                <h1>Borcelle Restaraunt</h1>
            </div>
            <ul>
                <li class="btn"><img src="/images/starter.png" alt="">Starter</li>
                <li class="btn"><img src="/images/main-dish.png" alt="">Main Dish</li>
                <li class="btn"><img src="/images/cake.png" alt="">Dessert</li>
            </ul>
            <a href="/admin/login" id="admin-console"><img src="/images/waiter.png" alt="">Admin</a>
        </div>
        <div id="menu-list">
            <div id="items">
                <div id="starter" class="item">
                    <% menuItems.filter(menu => menu.category === 'Starter').forEach(menu => { %>

                        <div class="menu">
                            <div><img src="/uploads/<%= menu.picture %>" alt=""></div>
                            <h2><%= menu.name %></h2>
                            <p><%= menu.description %></p>
                            <h3>KES <%= menu.price %></h3>
                        </div>

                    <% }) %>
                </div>
                <div id="main-dish" class="item">
                    <% menuItems.filter(menu => menu.category === 'Main Dish').forEach(menu => { %>

                        <div class="menu">
                            <div><img src="/uploads/<%= menu.picture %>" alt=""></div>
                            <h2><%= menu.name %></h2>
                            <p><%= menu.description %></p>
                            <h3>KES <%= menu.price %></h3>
                        </div>

                    <% }) %>
                </div>
                <div id="dessert" class="item">
                    <% menuItems.filter(menu => menu.category === 'Dessert').forEach(menu => { %>

                        <div class="menu">
                           <div><img src="/uploads/<%= menu.picture %>" alt=""></div>
                            <h2><%= menu.name %></h2>
                            <p><%= menu.description %></p>
                            <h3>KES <%= menu.price %></h3>
                        </div>

                    <% }) %>
                </div>
            </div>
            <div id="order">

            </div>
        </div>
    </main>

    <script src="/javascripts/menu.js"></script>

<%- include('partials/footer') %>